.header{
    width:100%;
    float:right;
    text-align: right;
    position: fixed;
}
.logout{ 
    float: left;
}

.logo{
    widows: 1000px;
    height: 100px;
    position: center;
}
div{
    float:middle;
}