.header{
    width:100%;
    float:right;
    text-align: right;
    position: fixed;
}
.logout{ 
    float: left;
}
.logoDiv {
    align-content: center;
    width:50%;
    float: left;
}
.buttonDiv{
    width:50%;
    float: left;
}
.logo{
    widows: 1000px;
    height: 80px;
    position: center;
}
img:focus {
    outline: none;
}
