.example-form {
    max-width: 100%;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card {
      width:95%;
      margin:2%;
      margin-top:3%;
  }

  .postComment {
      width:25%;
  }