<div class="container">
  <button class="button" mat-button routerLink="forum/housing">{{buttons[0]}}</button>
  <button class="button" mat-button routerLink="forum/food">{{buttons[1]}}</button>
  <button class="button" mat-button routerLink="forum/utilities">{{buttons[2]}}</button>
  <button class="button" mat-button routerLink="forum/health">{{buttons[3]}}</button>
  <button class="button" mat-button routerLink="forum/mental-health">{{buttons[4]}}</button>
  <button class="button" mat-button routerLink="forum/employment">{{buttons[5]}}</button>
  <button class="button" mat-button routerLink="forum/household">{{buttons[6]}}</button>
  <button class="button" mat-button routerLink="forum/childcare">{{buttons[7]}}</button>
  <button class="button" mat-button routerLink="forum/legal">{{buttons[8]}}</button>
  <button class="button" mat-button routerLink="forum/transportation">{{buttons[9]}}</button>
  <button class="button" mat-button routerLink="forum/education">{{buttons[10]}}</button>
  <button class="button" mat-button routerLink="forum/disaster">{{buttons[11]}}</button>
  <button class="button" mat-button routerLink="forum/other">{{buttons[12]}}</button>
</div>