<div>
<mat-toolbar-row class="header">
    <span>United 211 Services </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
<ul>           
                <li><a class="toolbar-spacer" routerLink="forum/housing">Housing and Shelter</a></li>
                <li><a class="toolbar-spacer" routerLink="forum/food">Food</a></li>            
                <li><a class="toolbar-spacer" routerLink="forum/utilities">Utilities</a></li>   
                <li><a class="toolbar-spacer" routerLink="forum/health">Healthcare</a></li>      
                <li><a class="toolbar-spacer" routerLink="forum/mental-health">Mental Health & Addictions</a></li>                   
                <li><a class="toolbar-spacer" routerLink="forum/employment">Employment & Income</a></li>       
                <li><a class="toolbar-spacer" routerLink="forum/household">Clothing & Household</a></li>      
                <li><a class="toolbar-spacer" routerLink="forum/childcare">Child Care and Parenting</a></li>       
                <li><a class="toolbar-spacer" routerLink="forum/legal">Government & Legal</a></li>       
                <li><a class="toolbar-spacer" routerLink="forum/transportation">Transportation Assistance</a></li>        
                <li><a class="toolbar-spacer" routerLink="forum/education">Education</a></li>        
                <li><a class="toolbar-spacer" routerLink="forum/disaster">Disaster</a></li>        
                <li><a class="toolbar-spacer" routerLink="forum/other">Other</a></li>            
            </ul>
  </mat-toolbar-row>
    </div>
