.button{
  display:block;
  width:100%;
  padding:4%;
  padding-left:10%;
  text-align:left;
}
.container{
  margin:0;
  padding:0;
  width:100%;
}

@media only screen and (max-width: 1064px) {
  .button{
    display:block;
    width:100%;
    padding:.5%;
    text-align:left;
    text-align: center;
  }
}
