<body>
  <mat-grid-list style="background: rgba(0,0,0,.87);" cols="1" rowHeight="571px">
    <mat-grid-tile><img href="https://instagram.com/unitedway/" src="assets/slide1.jpg"></mat-grid-tile>
  </mat-grid-list>
  <div class="bluebg">
    <p></p><div class="one_half">
              
            </div><p></p>
    <h1><strong>2-1-1. Get Connected. Get Answers.</strong></h1>
    <p>&nbsp;</p>
    <h3><strong>Serving PA: Allegheny, Armstrong, Beaver, Butler, Cambria, Fayette, Greene, Indiana, Lawrence, Mercer, Somerset, Washington&nbsp;and Westmoreland&nbsp;Counties.</strong></h3>
    <p>&nbsp;</p>
    <p>PA 2‑1‑1 Southwest is part of the national 2‑1‑1 Call Centers initiative that seeks to provide an&nbsp;easy-to-remember telephone number and web resource for finding health and human services– for everyday needs and in crisis situations.&nbsp;Search our vast database of services and providers to find the help you need today. <a href="/about-us">Learn more about 2‑1‑1…</a></p>
    <p>&nbsp;</p>
    </div>

    <script>
      window.watsonAssistantChatOptions = {
          integrationID: "4e54cd19-756d-436f-a94b-c63d54ff98d3", // The ID of this integration.
          region: "us-south", // The region your integration is hosted in.
          serviceInstanceID: "b41622e1-8511-4076-be9c-0f76647053e7", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
        document.head.appendChild(t);
      });
    </script>
    
</body>
