<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Create a Post </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input [formControl]="title" matInput placeholder="Title ... ">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Content</mat-label>
                <textarea [formControl]="content" rows="10" matInput placeholder="Description here ..."></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
    <button (click)="postThread()" class="postComment" mat-button>Create New Post!</button>
</mat-card>