<mat-expansion-panel hideToggle class="card">
        <mat-expansion-panel-header (click)="flip()">
        <mat-panel-title >Create a Post . . .  </mat-panel-title>
        <span class="material-icons">
                {{ expanded }}
                </span>
        </mat-expansion-panel-header>
    <mat-panel-description>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input [formControl]="title" matInput placeholder="Title ... ">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Content</mat-label>
                <textarea [formControl]="content" rows="10" matInput placeholder="Description here ..."></textarea>
            </mat-form-field>
        </form>
    </mat-panel-description>
    <button (click)="postThread()" class="postComment" mat-button>Post</button>
</mat-expansion-panel>