<mat-card class="card">
  <mat-card-actions class="buttonCounters">
    <div class="buttonContainer">
      <button style="float:right;" (click)="decrement()" mat-icon-button
        aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>thumb_down</mat-icon>
      </button>
      <button style="float:right;" (click)="increment()" mat-icon-button
        aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>thumb_up</mat-icon>
      </button>
      <label style="float:right; padding-top:3%;">{{ totalLikes}} {{ likesString }}</label>
    </div>
    

  </mat-card-actions>
  

    <mat-card-title> {{ title }} </mat-card-title>
    <mat-card-subtitle>{{ date }}</mat-card-subtitle>

  <mat-card-content>
    <p>
      {{ content }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
  </mat-card-footer>
  <app-create-comment [thread]="thread"></app-create-comment>
</mat-card>